* {
    font-family: Arial;
    font-size: 16px;
}

body {
    background-color: lightcoral;
    margin-left: 50px;
}

main {
    background-color: white;
    width: 450px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}